<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="f" xsi:type="File" fileName="IBOTester.log">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="date" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="class" layout="${callsite}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
       layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" minlevel="Trace" writeTo="f" />-->
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
  </rules>
</nlog>